@{
    ViewData["Title"] = "Home Page";
}

@model List<Test.UI.Models.FileModel>

<h3>Выберите файл для загрузки</h3>
<form asp-action="Load" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="fileExcel" id="fileExcel" /><br>
    <input type="submit" value="Загрузить" />
</form>

@foreach (var f in Model)
{
   <p>@f.Path</p>
   <a asp-controller="Home" asp-action="Load_R" asp-route-fileId="@f.Id">Просмотреть</a>
   <a asp-controller="Home" asp-action="Save" asp-route-fileId="@f.Id">Сохранить в файл</a>
}
<br>
<a asp-controller="Home" asp-action="Save_All">Сохранить все в один файл</a>